body {
  overflow: hidden;
  background: url('img/12.webp');
}

.wrapper {
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.title {
  font-size: 3em;
  color: #ecf8f5;
}

.accordeon {
  color: #ecf8f5;
  margin-left: auto;
  margin-right: auto;
  background: rgba(53, 54, 54, 0.2);
  transition: color 0.3s;
}

.accordeon:hover {
  color: black;
}
.accordeon:hover>.accordeon__item>.accordeon__label .icon {
  color: black;
  opacity: 1;
}

.accordeon__item {
  cursor: pointer;
  border-bottom: 0.1rem solid lightblue;
  transition: all 0.3s cubic-bezier(0.37, 0, 0.63, 1);
}

.image__meme {
  width: 90%;
  max-height: 0;
  transform: scale(0.1);
  transition: all 0.5s cubic-bezier(0.37, 0, 0.63, 1);
}

.accordeon__label {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  padding: 0 4% 0 4%;
  cursor: pointer;
}

.item__text {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.icon {
  opacity: 0;
  transition: 0.4s;
}

input:checked+.accordeon__label {
  color: black;
}

input:checked+.accordeon__label .icon,
.accordeon__item:hover>.accordeon__label .icon {
  transform: rotate(45deg);
}

input:checked+.accordeon__label .image__meme,
.accordeon__label:hover .image__meme {
  max-height: 55vh;
  transform: scale(1);
  transition: all 0.7s cubic-bezier(0.37, 0, 0.63, 1);
}

.accordeon__label:hover>.icon {
  transform: rotate(45deg);
}

.accordeon__item:active {
  opacity: 0.6;
  color: #ecf8f5;
}

header {
  height: 4vh;
}
